@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'IBM Plex Mono', monospace;
  font-size: 12px;
}

.h1{
  font-size: 1.125rem;
  /* font-weight: 600; */
}

.status-indicator {
  font-size: 1.125rem;
  font-weight: bold;
}

.error-message {
  color: #f87171;
  font-size: 12px;
  font-style: italic;
}

.success-message {
  font-size: 12px;
  color: #b5e48c;
}

.file-input::file-selector-button {
  text-transform: uppercase;
}

/* Add these new styles */
input[type="file"] {
  font-size: 12px !important;
}

input[type="text"],
textarea {
  font-size: 12px !important; /* iOS minimum font size to prevent zoom */
}

input[type="file"]::file-selector-button {
  /* center */
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  font-size: 12px !important;
}

.normal-text {
  font-size: 12px !important;
}